body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1A1A1A;
    color: white;
}

.red{
    color: red;
}

.lime{
    color: lime;
}

.purple{
    color: purple;
}

img{
    height: 500px;
}